[Desktop Entry]
Name=wmBattery
Comment=APM/Battery Monitor
Comment[pl]=Monitor stanu baterii
Exec=wmbattery
Terminal=0
Type=Application
# vi: encoding=utf-8
